@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@600&display=swap');

*, :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Inter", sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #0F172A;
}

main {
    padding: 20px;
    max-width: 640px;
    margin: 0 auto 64px;
}

header {
    margin-top: 64px;
    padding-bottom: 24px;
    border-bottom: 1px solid #334155;
}

header h1 {
    font-size: 3rem;
    color: #F1F5F9;
    margin-top: 24px;
}

.choice-language {
    display: flex;
    flex-direction: column;

    padding-top: 24px;
    width: 100%;
}

.choice-language p {
    color: #566880;
    font-size: 1.6rem;
}

.choice-language__button {
    display: flex;

    gap: 10px;
    margin-top: 10px;
}

.choice-language__button button {
    flex-grow: 1;

    padding: 12px 2px;
    background-color: transparent;
    color: #F1F5F9;
    border: 1px solid #384454;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    
    transition: all 0.2s ease;
}

.choice-language__button button:hover {
    border: 1px solid #A3E635;
    color: #A3E635;
}

#quiz {
    counter-reset: quiz-item;
}

.quiz-item {
    margin-top: 24px;
    border: 1px solid #475569;
    border-radius: 6px;
    overflow: hidden;
}

.quiz-item h3 {
    padding: 16px 20px;
    font-size: 1.6rem;
    color: #E2E8F0;
    background-color: #1E293B;

    display: flex;
    align-items: center;
    gap: 12px;
}

.quiz-item h3::before {
    counter-increment: quiz-item;
    content: counter(quiz-item);

    background-color: #475569;
    width: 28px;
    height: 28px;
    font-size: 1.2rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.quiz-item dl {
    padding: 20px 24px;

    display: grid;
    gap: 8px;
}

.quiz-item dl dt {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: #E2E8F0;

    display: flex;
    align-items: center;
    gap: 8px;
}

input {
    all: unset;
    border: 1px solid #94A3B8;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

input:checked {
    border: 1px solid;
}

input:checked::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.right-checked::before {
    background-color: #A3E635;
}
.wrong-checked::before {
    background-color: #E63535;
}

#acertos {
    position: fixed;
    bottom: 0;
    left: 0;

    text-align: center;
    background-color: #A3E635;
    font-size: 1.6rem;
    width: 100%;
    padding: 12px;
}

/* ANIMAÇÃO TREMER QUANDO SELECIONAR RESPOSTA ERRADA */
@keyframes shake {
    0% {margin-left: 0;}
    25% {margin-left: 5px;}
    50% {margin-left: 0;}
    75% {margin-left: -5px;}
    100% {margin-left: 0;}
}