/* MOBILE - UNTIL 450px */
@media screen and (max-width: 450px) {
    /* MENU BURGER */
    .menu-burger {
        position: fixed;
        left: 16px;
        top: 20px;
        width: 40px;
        height: 40px;
    }
    
    .menu-burger span {
        width: 24px;
        height: 3px;
        margin-bottom: 5px;
    }

    .checkbox-menu {
        position: fixed;
        display: block;
        left: 16px;
        top: 20px;
        width: 24px;
        height: 24px;
        margin: 0;
        opacity: 0;
        z-index: 11;
    }

    .checkbox-menu:checked ~ .menu-burger {
        left: 20px;
    }
    /* FIM - MENU BURGER */

    /* SIDEBAR */

    .sidebar__navigation {
        padding: 32px 0 16px 16px;
    }

    .sidebar nav ul li a {
        font-weight: 300;
        font-size: 12px;
    }

    .sidebar nav ul li a .fa {
        font-size: 16px;
    }

    .library {
        padding: 4px 8px;
    }

    .library .library__button {
        font-size: 12px;
        font-weight: 300;
    }

    .library .library__button .fa-book {
        font-size: 16px;
    }

    .library .library__content .fa-plus {
        margin: 24px 2px;
        font-size: 10px;
    }

    .section-playlist {
        font-size: 14px;
        margin: 8px 0;
        padding: 16px 10px;
        border-radius: 8px;
    }
    

    .section-playlist__content .title {
        font-size: 12px;
    }
    
    .section-playlist__content .subtitle {
        font-size: 10px;
    }

    .section-playlist__content .section-playlist__button {
        font-size: 11px;
        width: 100px;
    }

    .sidebar .cookies {
        font-size: 10px;
    }

    .sidebar .cookies a {
        font-size: 9px;
    }

    .languages .languages__button {
        font-size: 10px;
        width: 130px;
    }
    /* FIM - SIDEBAR */

    /* FOOTER */
    footer {
        padding: 10px 16px;
    }

    .footer__text {
        align-items: center;
        flex-direction: row;
    }

    .footer__text .title {
        font-size: 11px;
        margin-bottom: 0;
    }

    .footer__text .subtitle {
        display: none;
    }

    .footer__div-button .footer__button {
        font-size: 12px;
    }
    /* FIM - FOOTER */

    /* HEADER */
    .main-container {
        margin: 0;
    }

    .header__navigation {
        justify-content: space-around;
        padding: 12px 0 10px 0;
    }

    .header__search {
        width: 200px;
        height: 34px;
        margin-left: 34px;
    }

    .header__search #search-input {
        font-size: 11px;
    }
    
    .header__login .login {
        width: 84px;
        height: 34px;
        font-size: 14px;
    }

    /* PLAYLISTS */
    .offer__list-item {
        grid-template-columns: 1fr 1fr;
    }

    .playlist {
        margin: 70px 24px 20px 24px;
    }
    
    .playlist #greeting {
        font-size: 24px;
        margin-bottom: 34px;
    }
    
    .playlist .session {
        font-size: 20px;
    }
    /* FIM - PLAYLISTS */

    /* CARDS */
    .cards {
        width: 152px;
        height: 150px;
    }
    
    .cards span {
        font-size: 18px;
    }
    
    .offer__list-item img {
        width: 80px;
    }
    /* FIM - CARDS */
}

/* IPHONE 5 AND SIMILARS */
@media screen and (max-width: 325px) {
    .sidebar, .menu-burger {
        position: absolute;
    }

    .checkbox-menu:checked ~ .sidebar ~ main {
        position: fixed;
    }

    .header__search {
        width: 150px;
    }

    .header__login .login {
        width: 64px;
        height: 28px;
    }

    .playlist-container {
        height: 94vh;
    }

    footer {
        z-index: 10;
    }

    .footer__text {
        display: flex;
        align-items: center;
    }

    .footer__text .title {
        font-size: 10px;
    }

    .footer__div-button .footer__button {
        padding: 8px 8px;
        font-size: 11px;
    }
}