/* MOBILE - 451px - 840px */
@media screen and (max-width: 840px) {
    /* MENU BURGER */
    .menu-burger {
        position: fixed;
        left: 16px;
        top: 20px;
        z-index: 10;
        width: 40px;
        height: 40px;
    }
    
    .menu-burger span {
        display: block;
        background-color: #fff;
        width: 24px;
        height: 3px;
        margin-bottom: 5px;
        transition: all 0.2s ease;
    }

    .checkbox-menu {
        position: fixed;
        display: block;
        left: 16px;
        top: 20px;
        width: 24px;
        height: 24px;
        margin: 0;
        opacity: 0;
        z-index: 11;
    }

    .checkbox-menu:checked ~ .sidebar {
        margin-left: 0px;
    }
    
    .checkbox-menu:checked ~ .menu-burger .linha1 {
        transform-origin: 0% 0%;
        transform: rotate(45deg);
    }
    .checkbox-menu:checked ~ .menu-burger .linha2 {
        opacity: 0;
    }
    .checkbox-menu:checked ~ .menu-burger .linha3 {
        transform-origin: 0% 100%;
        transform: rotate(-45deg);
    }
    .checkbox-menu:checked ~ .menu-burger {
        left: 20px;
    }
    /* FIM - MENU BURGER */

    /* SIDEBAR */
    .sidebar {
        position: fixed;
        padding: 0;
        width: 40vw;
        margin-left: -1000px;
        z-index: 3;
        transition: all 0.3s ease;
    }

    .sidebar__navigation {
        background-color: #121212;
        border-radius: 0;
        padding: 32px 0 16px 16px;
    }

    .sidebar__navigation .logo {
        display: none;
    }

    .sidebar nav ul li a {
        color: #b3b3b3;
        text-decoration: none;
        font-weight: 300;
        font-size: 12px;
    }

    .sidebar nav ul li a .fa {
        font-size: 16px;
        margin-right: 5px;
    }

    .library {
        height: 100vh;
        display: flex;
        justify-content: start;
        border-radius: 0;
        font-weight: 600;
        margin-top: 0;
    }

    .library .library__button {
        margin-right: 0px;
        color: #b3b3b3;
        background-color: transparent;
        border: 0;
        font-size: 12px;
        font-weight: 300;
        text-align: center;
        text-decoration: none;
        text-transform: none;
        padding: 20px 10px;
    }

    .library .library__button .fa-book {
        font-size: 16px;
        margin-right: 5px;
    }

    .library .library__content .fa-plus {
        margin: 24px 2px;
        font-size: 10px;
    }

    .section-playlist {
        font-size: 14px;
        margin: 8px 0;
        padding: 16px 10px;
        border-radius: 8px;
    }
    

    .section-playlist__content .title {
        font-weight: 700;
        font-size: 12px;
    }
    
    .section-playlist__content .subtitle {
        font-weight: 500;
        font-size: 10px;
    }

    .section-playlist__content .section-playlist__button {
        font-size: 11px;
        font-weight: 700;
        margin-top: 10px;
        width: 100px;
    }

    .sidebar .cookies {
        margin: 18px 10px;
    }

    .languages .languages__button {
        font-weight: bold;
        font-size: 10px;
        width: 130px;
        padding: 8px 6px;
        margin: 8px 2px;
    }
    /* FIM - SIDEBAR */

    /* FOOTER */
    footer {
        padding: 10px 16px;
    }

    .footer__text {
        display: flex;
        align-items: center;
    }

    .footer__text .title {
        font-size: 11px;
        margin-bottom: 0;
    }

    .footer__text .subtitle {
        display: none;
    }

    .footer__div-button .footer__button {
        padding: 12px 16px;
        font-size: 12px;
    }
    /* FIM - FOOTER */

    /* HEADER */
    .main-container {
        max-width: 100vw;
        margin: 0;
    }

    .header__navigation {
        justify-content: space-around;
        position: fixed;
        top: 0;
        padding: 12px 0 10px 0;
        margin: 0;
        border-radius: 0;
        width: 100%;
        background-color: #000;
    }

    .arrow-right, .arrow-left {
        display: none;
    }

    .header__search {
        width: 200px;
        height: 34px;
        margin-left: 34px;
    }

    .header__search #search-input {
        font-size: 11px;
    }
    
    .header__login .subscribe {
        display: none;
    }
    
    .header__login .login {
        width: 84px;
        height: 34px;
        color: #000;
        font-size: 14px;
        font-weight: 700;
        border: none;
        border-radius: 40px;
    }

    .header__login .login:hover {
        transform: scale(1);
        border: 1px solid #1DB954;
    }

    /* PLAYLISTS */
    .offer__list-item {
        grid-template-columns: 1fr 1fr;
    }
    
    .playlist-container {
        height: 86vh;
        background-color: #121212;
    }

    .playlist {
        margin: 70px 24px 20px 24px;
        background-color: #121212;
    }
    
    .playlist #greeting {
        font-size: 24px;
        margin-bottom: 34px;
    }
    
    .playlist .session {
        font-size: 20px;
    }
    /* FIM - PLAYLISTS */

    /* CARDS */
    .cards {
        width: 152px;
        height: 150px;
    }
    
    .cards span {
        font-size: 18px;
    }
    
    .offer__list-item img {
        width: 80px;
    }
    /* FIM - CARDS */
}